<!-- templates/profile/profile_edit.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="content-section col-lg-12 col-md-12 col-sm-12 tutorial-style" style="min-height:65vh;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <h1 class="border-bottom mb-4">{{ form.instance.user.first_name }} {{ form.instance.user.last_name }} </h1>
                <img src="{{ form.instance.profile_picture.url }}">
                <p>Bio: {{ form.instance.bio|safe }}</p>
                <p>Employer: {{ form.instance.employer }}</p>
                <p>Work Phone: {{ form.instance.work_phone }}</p>
                <p>Mobile Phone: {{ form.instance.mobile_phone }}</p>
                <p>Email Updates: {{ form.instance.email_updates }} </p>
            </div>
        
            {% if user.username == form.instance.user.username %}
            <legend class="border-bottom mb-4"> Edit Profile</legend>
                {{ form.as_p }}
                <button type="submit" class="save btn btn-secondary">Save</button>
            {% endif %}
        </form>
    </div>
{% endblock content %}