<!-- templates/profile/profile_edit.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
    {% if user.username == profile.user.username %}
    <div class="edit-content">
        {% if perms.dfrm_admin.change_project %}
            <a href="{% url 'profile_edit' pk=profile.pk %}" class="btn btn-primary">Edit Profile</a>
        {% endif %}
    </div>
    {% endif %}

    <div class="container">
        <h1 class="border-bottom mb-4">{{ profile.user.first_name }} {{ profile.user.last_name }} </h1>
        <div class="container">
        </br>
            <div class = "d-flex flex-row justify-content-around align-items-center">
                <div class="p-2">
                    <img class="rounded-circle avatar" src="{{ profile.profile_picture.url }}">
                </div>
                <div class="p-2">
                    {% if profile.employees %}
                        <h3>Department of Fisheries Resources Management</h3>
                        <p><strong>Position Class:</strong> {{ profile.employees.position_class }}</p>
                        <p><strong>Title:</strong> {{ profile.employees.title }}</p>
                        <p><strong>Email:</strong> {{ profile.user.email }}</p>
                        {% if profile.work_phone %}<p><strong>Work Phone:</strong> {{ profile.work_phone }}</p>{% endif %}
                        {% if profile.mobile_phone %}<p><strong>Mobile Phone:</strong> {{ profile.mobile_phone }}</p>{% endif %}
                    {% else %}
                        {% if profile.organization %}<p><strong>Organization:</strong> {{ profile.organization }}</p>{% endif %}
                    {% endif %}
                    {% if profile.city and profile.state %}<p><strong>Residence:</strong> {{ profile.city }}, {{ profile.state }}</p>{% endif %}
                </div>
            </div>
            <div class="d-flex flex-row">
                {% if profile.bio %}<p>{{ profile.bio|safe }}</p>{% endif %}
            </div>
        <h4 class="border-bottom mb-4">Projects</h4>
            <div class="container">
                <ul>
                    <li>TBD</li>
                </ul>
            </div>
        <h4 class="border-bottom mb-4">Publications</h4>
            <div class="container">
                <ul>
                    <li>TBD</li>
                </ul>
            </div>
        </div>
    </div>
        
{% endblock content %}