<!-- templates/account/login.html -->
{% extends "base.html" %}
{% load static %}

{% comment %} {% block custom_css %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock custom_css %} {% endcomment %}

{% block content %}
<div class="container p-5">
      <div id="login-content">
        <h1> Sign In </h1>
        <p>If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first. </p>
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class = "btn btn-primary">Sign In</button>
          <p><a href="{% url 'account_reset_password' %}">Forgot Password?</a></p>
        </form>
      </div>
    </div>
{% endblock %}