<!-- templates/document_list.html -->
{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load render_table from django_tables2 %}
<!--{% load crispy_forms_tags %}-->

{% block header %}
{% comment %} <div class="page-header">
    <div class="black-background">
        <div class="container">
            <h1>Documents</h1>
        </div>
    </div>
</div> {% endcomment %}

<img src="../static/img/hatcheryparr.jpg" width="100%" height="600px">

<div class="bg-dark">
    <div class="container py-5">
        <h1 class="text-center text-light">Department Documents</h1>
    </div>
</div>
{% endblock header %}

{% block content %}

<div class="container">
	<div class="well">
			<h2 style="margin-top: 0">Search Documents</h2>
			</br>

	<form method="get">		
			<div class="row">
				<div class="form-group col-sm-4 col-md-4">
					{{ filter.form.title__icontains.label_tag }}
					{% render_field filter.form.title__icontains class="form-control" %}
				</div>
				<div class="form-group col-sm-4 col-md-4">
					{{ filter.form.document_type__icontains.label_tag }}
					{% render_field filter.form.document_type__icontains class="form-control" %}
				</div>
				<div class="form-group col-sm-4 col-md-4">
					{{ filter.form.keywords__icontains.label_tag }}
					{% render_field filter.form.keywords__icontains class="form-control" %}
				</div>

				<div class="form-group col-sm-4 col-md-4">
					{{ filter.form.citation__icontains.label_tag }}
					{% render_field filter.form.citation__icontains class="form-control" %}
				</div>

				<div class="form-group col-sm-4 col-md-4">
					{{ filter.form.publish_date__lt.label_tag }}
					{% render_field filter.form.publish_date__lt class="form-control" %}
				</div>
				<div class="form-group col-sm-4 col-md-4">
					{{ filter.form.publish_date__gt.label_tag }}
					{% render_field filter.form.publish_date__gt class="form-control" %}
				</div>
			</div>
		</br>
			<button type="submit" class="btn btn-success"><i class="bi bi-search"></i> Filter</button>
		</br>
			<ul>
				<li>Use citation to search for authors</li>
				<li>Date format is: mm/dd/yyyy</li>
				<li>Only documents meeting all criteria will be returned, if you can not find your information try removing some filters and clicking search.</li>
				<li>To reset the table and return all documents clear the contents of each filter and then click the search button. </li>
			</ul>
		</form>
	</div>

	{% render_table table %}
</div>

{% endblock %}