<!-- templates/registration/edit_profile.html -->
{% extends "base.html" %}
<!--{% load crispy_forms_tags %}-->
{% load static %}

{% block content %}
  <h2>Edit Profile</h2>
  <br>
  <br>
  <div class="form-group">
    <form method="POST" action="." class="" enctype="multipart/form-data"/>
      {% csrf_token %}
      <!--{{ form|crispy }}-->
      {{ user_form.as_p }}
      {{ profile_form.as_p}}
      <button type="submit" class = "btn btn-primary">Update Profile</button>
  </div>
<!--</div>-->
{% endblock %}