<!-- templates/data/harvest_counts.html -->
{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header-container">
<img class="header-image" src="../../static/img/background.jpg">
</div>

<div class="bg-dark">
    <div class="container py-5">
        <h1 class="text-center text-light">Harvest Estimates</h1>
    </div>
</div>

{% endblock header %}

{% block content %}

<div class="conatiner p-5">   
 <table class="table table-striped">
    <thead>
        <tr>
            <th>Location</th>
            <th>Season</th>
            <th>Season Start Year</th>
            <th>Clipped Chinook Caught</th>
            <th>Clipped Chinook Kept</th>
            <th>Unclipped Chinook Caught</th>
            <th>Unclipped Chinook Kept</th>
            <th>Jacks</th>
        </tr>
    </thead>
    {% for i in data %}
      <tr>
          <td>{{ i.LocationLabel }}</td>
          <td>{{ i.Season }}</td>
          <td>{{ i.StatYear }}</td>
          <td>{{ i.ClippedChinookCaught }}</td>
          <td>{{ i.ClippedChinookKept }}</td>
          <td>{{ i.UnclippedChinookCaught }}</td>
          <td>{{ i.UnclippedChinookKept }}</td>
          <td>{{ i.Jacks }}</td>
      </tr>
    {% endfor %}
</table>
</div>
{% endblock content %}