<!-- templates/dfrm_admin/window_counts.html -->
{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header-container">
    <img class="header-image" src="../../static/img/background.jpg">
</div>

<div class="bg-dark">
    <div class="container py-5">
        <h1 class="text-center text-light">Lower Granite Window Counts</h1>
    </div>
</div>

{% endblock header %}

{% block content %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class="container p-5">
    <div id="adultChinook"></div>
</div>


<script>
function drawPlot() {
    var data = {{ data|safe }}
    var trace = {
        x: data.map(function(d) { return d.Date; }),
        y: data.map(function(d) { return d.Chin; }),
        type: 'scatter'
    };

    var layout = {
        title: "Chinook Counts at Lower Granite Dam",
        xaxis: {
            title: "Date",
        },
        yaxis: {
            title: "Adult Counts",
            range: [0, 200000]
        },
        annotations: [
        {
            xref: 'paper',
            yref: 'paper',
            x: 1,
            xanchor: 'right',
            y: -.2,
            yanchor: 'top',
            text: 'Data received real-time from DART website',
            showarrow: false
          }
        ],
        shapes: [
        {
            type: 'line',
            x0: 0,
            y0: 15000,
            x1: 2022,
            y1: 15000,
            yref: 'y',
            line: {
                color: 'red',
                width: 2,
                dash: 'dash'
            }
        }
        ]
    };

    Plotly.newPlot('adultChinook', [trace], layout);
    }

    drawPlot();
</script>

{% for instance in data %}
    {% for key, value in instance.items %}
    {{key}}: {{value}}
    {% endfor %}
{% endfor %}

{% endblock content %}