<!-- templates/division_detail.html -->
{% extends "base.html" %}
{% load static %}

{% block header %}
<div class="page-header">
    <div class="black-background">
        <div class="container">
            <h1>{{ divisions.name }}</h1>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="edit-content">
    {% if perms.dfrm_admin.add_division %}
        <a href="{% url 'division_edit' pk=divisions.pk %}" class="btn btn-primary"><div class="button">Edit Division Content</div></a>
    {% endif %}
    {% if perms.dfrm_admin.add_project %}
        <a href="{% url 'project_new' %}" class="btn btn-primary">Add New Project</a>
    {% endif %}
</div>
<img src="{{ divisions.division_image1.url }}">
<p>{{ divisions.description | safe }}</p>
<p>Director: {{ divisions.director }} </p>
{% if divisions.deputy %}
    <p>Deputy Director: {{ divisions.deputy }} </p>
{% endif %}
{% if divisions.support %}
<p>Support Staff: {{ divisions.support }} </p>
{% endif %}

<h2>Projects</h2>
    {% for p in projects %}
        <h3><a href="{% url 'project_detail' pk=p.pk %}">{{ p.name }}</a></h2>
        {% comment %} <p>{{ p.description|safe }}</p> {% endcomment %}
        {% comment %} <p>Project Leader: {{ p.project_leader }}</p> {% endcomment %}
    {% endfor %}

{% endblock %}