<!-- templates/dfrm_admin/department.html -->
{% extends "base.html" %}
{% load static %}

{% block header %}
<div class="page-header">
    <div class="black-background">
        <div class="container">
            <h1>Divisions</h1>
        </div>
    </div>
</div>
{% endblock header %}

<hr>
{% block content %}

<div class="edit-content">
    {% if perms.dfrm_admin.add_division %}
        <a href="{% url 'division_new' %}" class="btn btn-primary">Add New Division</a>
    {% endif %}
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Director</th>
            <th>Deputy Director</th>
            <th>Facility</th>
            <th>View</th>
            {% if perms.dfrm_admin.change_division %}
            <th>Edit</th>
            {% endif %}
        </tr>
    </thead >
    <tbody>
        {% for d in divisions %}
        <tr>
            <td>{{ d.name }}</td>
            <td>{{ d.director }}</td>
            <td>{{ d.deputy_director }} </td>
            <td>{{ d.facility }} </td>
            <td><a href="{% url 'division_detail' pk=d.pk %}" class="btn btn-secondary"><i class="bi bi-eye"></i></a></td>
            {% if perms.dfrm_admin.change_division %}
            <td><a href="{% url 'division_edit' pk=d.pk %}" class="btn btn-secondary"><i class="bi bi-pencil"></i></a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}