<!-- templates/division_detail.html -->
{% extends "base.html" %}
{% load static %}

{% block header %}
{% comment %} <div class="page-header">
    <div class="black-background">
        <div class="container">
            <h1>{{ divisions.name }} Division</h1>
        </div>
    </div>
</div> {% endcomment %}

<div class="header-container">
    <img class="header-image" src="{{ divisions.division_image1.url }}">
</div>

<div class="bg-dark">
    <div class="container py-5">
        <h1 class="text-center text-light">{{ divisions.name }}</h1>
    </div>
</div>

{% endblock header %}

{% block content %}

<section class="py-5 container">
    <div class="row py-lg-5">
        <div class="col-lg-8 mx-auto">
            <p class='lead text-muted'>
                {{ divisions.description|safe }}
            </p>
        </div>
    </div>
</section>


<div class="bg-dark text-center py-5"> 
    <div class="row justify-content-center">
        <div class="col-md-4 mx-auto">
            <div class="card text-light bg-dark border-dark mx-auto text-center border-0 mb-3 mx-2 my-3" style="width: 200px;">
                <img src="{{ divisions.director.name.profile_picture.url }}" class="card-img-top rounded-circle" alt="..." width="200px" height="200px">
                <div class="card-body">
                    <a class="stretched-link" href="{% url 'profile' pk=divisions.director.name.pk %}"><h4 class="card-title" style="color: #ABE7FC;">{{ divisions.director }}</h4></a>
                    <h5 class="text-muted">{{ divisions.director.title }}</h5>
                </div>
            </div>
        </div>

        {% if divisions.deputy_director %}
        <div class="col-md-4 mx-auto">
            <div class="card text-light bg-dark border-dark mx-auto text-center border-0 mb-3 mx-2 my-3" style="width: 200px;">
                <img src="{{ divisions.deputy_director.name.profile_picture.url }}" class="card-img-top rounded-circle" alt="..." width="200px" height="200px">
                <div class="card-body">
                    <a class="stretched-link" href="{% url 'profile' pk=divisions.deputy_director.name.pk %}"><h4 class="card-title" style="color: #ABE7FC;">{{ divisions.deputy_director }}</h4></a>
                    <h5 class="text-muted">{{ divisions.deputy_director.title }}</h5>
                </div>
            </div>
        </div>
        {% endif %}

        {% if divisions.administrative_assistant %}    
        <div class="col-md-4 mx-auto">
            <div class="card text-light bg-dark border-dark mx-auto text-center border-0 mb-3 mx-2 my-3" style="width: 200px;">
                <img src="{{ divisions.administrative_assistant.name.profile_picture.url }}" class="card-img-top rounded-circle" alt="..." width="200px" height="200px">
                <div class="card-body">
                    <a class="stretched-link" href="{% url 'profile' pk=divisions.administrative_assistant.name.pk %}"><h4 class="card-title" style="color: #ABE7FC;">{{ divisions.administrative_assistant }}</h4></a>
                    <h5 class="text-muted">{{ divisions.administrative_assistant.title }}</h5>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row justify-content-center">
        {% for i in divisions.managers.all %}
            {% if forloop.counter0|divisibleby:3 %}
                </div><div class="row justify-content-center">
            {% endif %}
            <div class="col-md-4 g-5">
                <div class="card text-light bg-dark border-dark">
                    <img src="{{ i.name.profile_picture.url }}" class="d-block mx-auto rounded-circle" alt="..." width="200px" height="200px">
                    <div class="card-body">
                        <a class="stretched-link" href="{% url 'profile' pk=i.name.pk %}"><h4 class="card-title text-light">{{ i.name }}</h4></a>
                        <h5 class="text-muted">{{ i.title }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container text-center py-5">
    <h2 class="text-center">Division Projects</h2>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for p in subproject %}
      <div class="col">
        <div class="card text-light bg-dark border-dark h-100">
          <img src="{{ p.project.project_image1.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <a class="stretched-link" href="{% url 'project_detail' pk=p.project.pk %}"><h4 class="card-title" style="color: #ABE7FC;">{{p.project.name}}</h4></a>
            <p class="card-text">{{p.name}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Supervisor: {{ p.supervisor }}</small>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}