<!-- templates/dfrm_admin/facility_detail.html -->
{% extends "base.html" %}
{% load static %}

{% block header %}
<div class="page-header">
    <div class="black-background">
        <div class="container">
            <h1>{{ facility.name }}</h1>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="edit-content">
    {% if perms.dfrm_admin.change_facility %}
        <a href="{% url 'facility_edit' pk=facility.pk %}" class="btn btn-primary"><div class="button">Edit Facility Content</div></a>
    {% endif %}
</div>
<img src="{{ facility.facility_image.url }}">
<p>Phone Number: {{ facility.phone_number }} </p>
{% if facility.fax_number %}
    <p>Fax Number: {{ facility.fax_number }} </p>
{% endif %}
<p> {{ facility.address }} </p>
<p> {{ facility.city }}, {{ facility.state }} {{ facility.zipcode }} </p>
<p> Manager: {{ facility.facility_manager }} </p>
{% if office.administrative_assistant %}
    <p>Administrative Assistant: {{ facility.facility.administrative_assistant }} </p>
{% endif %}

<h2>Projects</h2>
    {% for i in projects %}
        <h3><a href="{% url 'project_detail' pk=i.pk %}">{{ i.name }}</a></h2>
        <p>{{ i.description|linebreaksbr }}</p>
        {% comment %} <p>Project Leader: {{ p.project_leader }}</p> {% endcomment %}
    {% endfor %}

{% endblock %}