<!-- templates/admin/facility.html -->
{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}

{% block head %}
    {% leaflet_css %}
    {% leaflet_js %}
{% endblock head %}

{% block header %}
<div class="page-header">
    <div class="black-background">
        <div class="container">
            <h1>Facility List</h1>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}

<div class="edit-content">
    {% if perms.dfrm_admin.add_facility %}
        <a href="{% url 'facility_new' %}" class="btn btn-primary">Add New Facility</a>
    {% endif %}
</div>

<style>
    .leaflet-container {
        width: 100%;
        height: 500px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>

{% leaflet_map "main" callback="map_init_basic" %}

<script type="text/javascript">
    function map_init_basic(map, options) {
        map.setView([46.5, -116.5], 7);

        var data_url = '{% url "api_all_facility_points" %}'
            // Download GeoJSON via Ajax
        $.getJSON(data_url, function(data){
                // Add GeoJSON layer
            L.geoJson(data,{
                onEachFeature: function(feature, layer){
                    layer.bindPopup(feature.properties.name.name.toString());
                }
            }).addTo(map);
        });
    }
</script>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Manager</th>
            <th>Administrative Assistant</th>
            <th>View</th>
            {% if perms.dfrm_admin.change_facility %}
            <th>Edit</th>
            {% endif %}
        </tr>
    </thead >
    <tbody>
        {% for f in facility %}
        <tr>
            <td>{{ f.name }}</td>
            <td>{{ f.street_address }}, {{ f.city }}, {{ f.state }} {{ f.zipcode }}</td>
            <td>{{ f.phone_number }}</td>
            <td>{{ f.manager }}</td>
            <td>{{ f.administrative_assistant }}</td>
            <td><a href="{% url 'facility_detail' pk=f.pk %}" class="btn btn-success"><i class="bi bi-eye"></i></a></td>
            {% if perms.dfrm_admin.change_facility %}
            <td><a href="{% url 'facility_edit' pk=f.pk %}" class="btn btn-warning"><i class="bi bi-pencil"></i></a></td>
            {% endif %}    
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}