<!-- templates/dfrm_admin/facility_detail.html -->
{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}

{% block head %}
    {% leaflet_css %}
    {% leaflet_js %}
{% endblock head %}

{% block header %}
{% comment %} <div class="page-header">
    <div class="black-background">
        <div class="container">
            <h1>{{ facility.name }}</h1>
        </div>
    </div>
</div> {% endcomment %}
<div class="header-container">
    <img class="header-image" src="{{ facility.facility_image.url }}">
</div>

<div class="bg-dark">
    <div class="container py-5 text-center text-light">
        <h1>{{ facility.name }}</h1>
        <h4>Phone Number: {{ facility.phone_number }} </h4>
        {% if facility.fax_number %}
            <h4>Fax Number: {{ facility.fax_number }} </h4>
        {% endif %}
        <h4> {{ facility.street_address }} </h4>
        <h4> {{ facility.city }}, {{ facility.state }} {{ facility.zipcode }} </h4>
    </div>
</div>

{% endblock header %}

{% block content %}

<style>
    .leaflet-container {
        width: 100%;
        height: 500px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>

{% leaflet_map "main" callback="map_init_basic" %}

<script type="text/javascript">
    function map_init_basic(map, options) {

        map.setView([46.5, -116.5], 6);

        var point = '{% url "api_facility_points" pk=facility.pk %}';
        $.getJSON(point, function(data){
                // Add GeoJSON layer
            L.geoJson(data,{
                onEachFeature: function(feature, layer){
                    layer.bindPopup(feature.properties.name.name.toString());
                }
            }).addTo(map);
        });
    }
</script>

<div class="bg-dark text-center py-5">
  <h1 class='text-light'>Staff</h1>
    <div class="row justify-content-center">
        {% if facility.administrative_assistant %}
        <div class="col-md-4">
          <div class="card text-light bg-dark border-dark">
            <img src="{{ facility.manager.name.profile_picture.url }}" class="d-block mx-auto rounded-circle" alt="..." width="200px" height="200px">
            <div class="card-body">
              <a class="stretched-link" href="{% url 'profile' pk=facility.manager.name.pk %}">
                <h4 class="card-title text-light">{{ facility.manager }}</h4>
              </a>
              <h5 class="text-muted">Office Manager</h5>
              <h5 class="text-muted">{{ facility.manager.title }}</h5>
            </div>
          </div>
        </div>
      
        <div class="col-md-4">
          <div class="card text-light bg-dark border-dark">
            <img src="{{ facility.administrative_assistant.name.profile_picture.url }}" class="d-block mx-auto rounded-circle" alt="..." width="200px" height="200px">
            <div class="card-body">
              <a class="stretched-link" href="{% url 'profile' pk=facility.administrative_assistant.name.pk %}">
                <h4 class="card-title text-light">{{ facility.administrative_assistant }}</h4>
              </a>
              <h5 class="text-muted">Office Administration</h5>
              <h5 class="text-muted">{{ facility.administrative_assistant.title }}</h5>
            </div>
          </div>
        </div>
        {% else %}
        <div class="col mx-auto">
          <div class="card text-light bg-dark border-dark">
            <img src="{{ facility.manager.name.profile_picture.url }}" class="d-block mx-auto rounded-circle" alt="..." width="200px" height="200px">
            <div class="card-body">
              <a class="stretched-link" href="{% url 'profile' pk=facility.manager.name.pk %}">
                <h4 class="card-title text-light">{{ facility.manager }}</h4>
              </a>
              <h5 class="text-muted">Office Manager</h5>
              <h5 class="text-muted">{{ facility.manager.title }}</h5>
            </div>
          </div>
        </div>
        {% endif %}
      </div>

  <div class="container p-5">
    {% comment %} <div class="row row-cols-1 row-cols-md-3"> card-img-top {% endcomment %}
    <div class="row justify-content-center">
        {% for i in employees %}
            {% if forloop.counter0|divisibleby:3 %}
                </div><div class="row justify-content-center">
            {% endif %}
        <div class="col-md-4 g-5">
            <div class="card text-light bg-dark p-3">
                <img src="{{ i.name.profile_picture.url }}" class="d-block mx-auto rounded-circle" alt="..." width="200px" height="200px">
                <div class="card-body">
                    <a class="stretched-link" href="{% url 'profile' pk=i.name.pk %}"><h4 class="card-title text-light">{{ i.name }}</h4></a>
                    <h5 class="text-muted">{{ i.title }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>

{% endblock %}