<!-- templates/admin/facility.html -->
{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}

{% block head %}
    {% leaflet_css %}
    {% leaflet_js %}
{% endblock head %}

{% block header %}
<div class="header-container">
  <img class="header-image" src="../static/img/Clearwater_River_Home_Page.jpg">
</div>

<div class="bg-dark">
  <div class="container py-5">
      <h1 class="text-center text-light">Department Facilities</h1>
  </div>
</div>
{% endblock header %}

{% block content %}



<div class="container text-center py-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for f in facility %}
      <div class="col">
        <div class="card text-light bg-dark border-dark h-100">
          <img src="{{ f.facility_image.url }}" class="card-img-top" alt="..." height="300px">
          <div class="card-body">
            <a class="stretched-link" href="{% url 'facility_detail' pk=f.pk %}"><h4 class="card-title" style="color: #ABE7FC;">{{ f.name }}</h4></a>
          </div>
            <p class="card-text">{{ f.phone_number }}</p>
            <p class="card-text">{{ f.street_address }}</p>
            <p class="card-text">{{ f.city }}, {{ f.state }} {{ f.zipcode }}</p>
          <div class="card-footer">
            <small class="text-muted">Office Manager: {{ f.manager }}</small>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<style>
  .leaflet-container {
      width: 80%;
      height: 950px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 200px;
      margin-right: 200px;
  }
</style>

{% leaflet_map "main" callback="map_init_basic" %}

<script type="text/javascript">
  function map_init_basic(map, options) {
      map.setView([45.73, -116.5], 8.5);

      var data_url = '{% url "api_all_facility_points" %}'
          // Download GeoJSON via Ajax
      $.getJSON(data_url, function(data){
              // Add GeoJSON layer
          L.geoJson(data,{
              onEachFeature: function(feature, layer){
                  layer.bindPopup(feature.properties.name.name.toString());
              }
          }).addTo(map);
      });
  }
</script>

{% endblock %}