<!-- templates/admin/office.html -->
{% extends "base.html" %}
{% load static %}

{% block header %}
<div class="page-header">
    <div class="black-background">
        <div class="container">
            <h1>Offices</h1>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="edit-content">
    {% if perms.dfrm_admin.add_office %}
        <a href="{% url 'office_new' %}" class="btn btn-primary">Add New Office</a>
    {% endif %}
</div>
{% for o in office %}
    <a href="{% url 'office_detail' pk=o.pk %}"><h2>{{ o.name }}</h2></a>
    <p>Phone: {{ o.phone_number }}</p>
    {% if o.fax_number %}
        <p>Fax: {{ o.fax_number }}</p>
    {% endif %}
    <p>{{ o.address }}, {{ o.city }}, {{ o.state }}</p>
    <p>Office Manager: {{ o.office_manager }}</p>
    <p>Work Phone: {{ o.office_manager.name.work_phone }}</p>
    <p>Email: {{ o.office_manager.name.user.email }}</p>
    {% if o.administrative_assistant %}
        <p>Administrative Assistant: {{ o.administrative_assistant }}</p>
    {% endif %}
    {% if o.office_image %}
        <img src={{ o.office_image.url }}>
    {% endif %}
    <hr>
{% endfor %}
{% endblock %}