<!-- templates/division_edit.html -->
{% extends "base.html" %}
{% load static %}

{% block header %}
<div class="header-container">
    <img class="header-image" src="../../static/img/background.jpg">
</div>

<div class="bg-dark">
    <div class="container py-5">
        <h1 class="text-center text-light">Add/Edit Project</h1>
    </div>
</div>
{% endblock header %}


{% block content %}
<div class="container p-5">
    <div class="form-group">
        <form method="POST" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ f.media }}
            {{ f.as_p }}
            <hr>
            <button type="submit" class="save btn btn-primary">Save</button>
        </form>
    </div>
</div>
{% endblock %}