<!-- templates/project_detail.html -->
{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}

{% block head %}
    {% leaflet_css %}
    {% leaflet_js %}
{% endblock head %}


{% block header %}
<div class="page-header">
    <div class="black-background">
        <div class="container">
          <h1></h1>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="edit-content">
    {% if perms.dfrm_admin.change_project %}
        <a href="{% url 'project_edit' pk=project.pk %}" class="btn btn-primary">Edit Project Content</a>
    {% endif %}
</div>

<h1 class="border-bottom mb-4">{{ project.name }}</h1>
<div class="d-flex flex-row justify-content-around align-items-center">
    <div class="p-2">
        <img src="{{ project.project_image1.url }}">
        <h5>Project Leader(s):</h5>
        {% for p in project.project_leader.all %}
            <a href="{% url 'profile' pk=p.name.user.pk %}">{{ p.name }}</a>
        {% endfor %}
        <p>{{ project.description|safe }}</p>


            {% for s in subproject %}
                <h2> {{ s.division }} Division</h2>
                <p> &nbsp; &nbsp; &nbsp; <font size="+1"><b>{{ s.name }}</b></font>{% if perms.dfrm_admin.change_project %} <a href="{% url 'task_edit' pk=s.pk %}">(Edit or Add Tasks)</a>{% endif %}
                <div class = "container" style="margin-left: 2rem;">
                    <ul>
                        {% for t in task %}
                            {% if t.subproject.pk == s.pk %}
                            <li> {{ t.name }}--<a href="{% url 'profile' pk=t.supervisor.name.user.pk %}"><em>{{ t.supervisor }}</em></a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
    </div>

    {% comment %} <div class="p-2">
        <h2>Test place:</h2>
        {% for s in project.subprojects_set.all() %}
            <p>{{ s.name }}</p>
        {% endfor %}
    </div> {% endcomment %}

    <div class="p-2">

        <style>
            .leaflet-container {
                width: 500px;
                height: 400px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        </style>

        {% leaflet_map "main" callback="map_init_basic" %}

        <script type="text/javascript">
            function map_init_basic(map, options) {

                map.setView([46.5, -116.5], 6);

                var point = '{% url "api_project_points" pk=project.pk %}';
                $.getJSON(point, function(data){
                        // Add GeoJSON layer
                    L.geoJson(data,{
                        onEachFeature: function(feature, layer){
                            layer.bindPopup(feature.properties.name.name.toString());
                        }
                    }).addTo(map);
                });

                var data_url = '{% url "api_project_linestrings" pk=project.pk %}';
                    // Download GeoJSON via Ajax
                $.getJSON(data_url, function(data){
                        // Add GeoJSON layer
                    L.geoJson(data,{
                        onEachFeature: function(feature, layer){
                            layer.bindPopup(feature.properties.name.name.toString());
                        }
                    }).addTo(map);
                });

                var data_url = '{% url "api_project_polygons" pk=project.pk %}';
                // Download GeoJSON via Ajax
                $.getJSON(data_url, function(data){
                    // Add GeoJSON layer
                    L.geoJson(data,{
                        onEachFeature: function(feature, layer){
                            layer.bindPopup(feature.properties.name.name.toString());
                        }
                    }).addTo(map);
                });

            }
        </script>
    </div>
</div>

{% endblock %}