<!-- templates/dfrm_admin/project.html -->
{% extends "base.html" %}
{% load static %}

{% block header %}
<div class="page-header">
    <div class="black-background">
        <div class="container">
            <h1>Projects</h1>
        </div>
    </div>
</div>
{% endblock header %}

<hr>
{% block content %}

{% for p in projects %}
<div class="card text-light bg-dark border-dark my-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ p.project_image1.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a class="stretched-link" href="{% url 'project_detail' pk=p.pk %}"><h3 class="card-title" style="color: #ABE7FC;">{{ p.name }}</h3></a>
        <p class="card-text">{{ p.description|safe|slice:500 }}</p>
      </div>
    </div>
    <div class="card-footer">
      <small class="text-muted">Project Leader(s):</small>
      {% for i in p.project_leader.all %}
      <small class="text-muted">{% if forloop.last %} {{ i.name }} {% else %} {{ i.name }}, {% endif %}</small>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}