<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="myNavbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/static/img/NPTlogos2.png" style="width:100px">
            <!-- DFRM -->
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Current Returns and Forecasts
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Spring/Summer Chinook</a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                    <li class="dropdown-submenu">
                      <a class="dropdown-item" href="#">LGR Dam Counts</a>
                    </li>
                    <li class="dropdown-submenu">
                      <a class="dropdown-item" href="#">Weir Counts</a>
                      <li class="dropdown-submenu">
                        <a class="dropdown-item" href="#">Harvest Estimates</a>                 
                    </li>
                  </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Historical Returns
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Spring/Summer Chinook</a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                    <li class="dropdown-submenu">
                      <a class="dropdown-item" href="#">Total Returns</a>
                    </li>
                    <li class="dropdown-submenu">
                      <a class="dropdown-item" href="#">Wild Fraction</a>
                    </li>
                    <li class="dropdown-submenu">
                      <a class="dropdown-item" href="#">Wild Returns</a>
                    </li>
                    <li class="dropdown-submenu">
                      <a class="dropdown-item" href="#">Hatchery Returns</a>
                    </li>
                  </ul>
                  </li>
                </ul>
                </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'news_list' %}">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'document_list' %}">Documents</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Links
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="https://npt-cdms.nezperce.org/login.html#!/login" target="_blank">CDMS</a></li>
              <li><a class="dropdown-item" href="https://nptfisheries.shinyapps.io/kus-data/" target="_blank">Kus Data</a></li>
              <li><a class="dropdown-item" href="https://nezperce.org/" target="_blank">Nez Perce Tribe</a></li>
              <li><a class="dropdown-item" href="https://nezperce.org/contact/employment/" target="_blank">NPT Employement Opportunities</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                About Us
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'division' %}">Department Structure</a></li>
              <li><a class="dropdown-item" href="{% url 'project' %}">Project Details</a></li>
              <li><a class="dropdown-item" href="{% url 'facility' %}">Facility Locations</a></li>
            </ul>
          </li>

        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ request.user.get_full_name }}
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'profile' pk=user.pk %}">Edit Profile</a></li>
                  <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a></li>

                  {% if perms.dfrm_admin.view_employee %}
                  <li><hr class="dropdown-divider"><b>&nbsp View Content</b></li>                 
                  <li><a class="dropdown-item" href="{% url 'employee_list' %}">Employees</a></li>
                  {% endif %}
                  
                  {% if perms.dfrm_admin.view_project %}
                  <li><a class="dropdown-item" href="{% url 'project_list' %}">Projects</a></li>
                  {% endif %}
                  
                  {% if perms.dfrm_admin.view_division %}
                  <li><a class="dropdown-item" href="{% url 'division_list' %}">Divisions</a></li>
                  {% endif %}

                  {% if perms.dfrm_admin.view_department %}
                  <li><a class="dropdown-item" href="{% url 'department_list' %}">Departments</a></li>
                  {% endif %}

                  {% if perms.documents.add_document %}
                  <li><hr class="dropdown-divider"><b>&nbsp Add Content</b></li>
                  <li><a class="dropdown-item" href="{% url 'document_upload' %}">Add Document</a></li>
                  {% endif %}

                  {% if perms.news.add_post %}
                  <li><a class="dropdown-item" href="{% url 'news_post' %}">Add News Post</a></li>
                  {% endif %}

                  {% if request.user.is_staff %}
                  <li><hr class="dropdown-divider"><b>&nbsp Admin Only</b></li>
                  <li><a class="dropdown-item" href="{% url 'facility_list' %}">Facilities</a></li>
                  <li><a class="dropdown-item" href="{% url 'location' %}">Locations</a></li>
                  {% endif %}
                </ul>
              </li>
            <li class="nav-item">
                <img class="rounded-circle nav-avatar" src="{{ request.user.user_profiles.profile_picture.url }}">
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">Sign In </a>
            </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>