<!-- templates/news_list.html -->
{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="page-header">
    <div class="black-background">
        <div class="container">
            <h1>News</h1>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}

<div class="card-group">
    {% for p in object_list %}
        <div class="card text-light bg-dark border-dark mb-3 mx-2 my-3" style="width: 18rem;">
          <img src="{{ p.header_image.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <a class="stretched-link" href="{% url 'news_detail' pk=p.pk %}"><h4 class="card-title" style="color: #ABE7FC;">{{ p.title }}</h4></a>
            <p class="card-text">{{ p.snippet|safe }}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ p.author }} | {{ p.post_date }}</small>
          </div>
        </div>
    {% endfor %}
  </div>

{% endblock %}