<!-- templates/division_detail.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="edit-content">
    {% if user.is_authenticated %}
        <a href="{% url 'division_edit' pk=divisions.pk %}"><div class="button">Edit Division Content</div></a>
        <a href="{% url 'project_new' %}">Add New Project</a>
    {% endif %}
</div>
<h1>{{ divisions.name }} Division</h1>
<p>{{ divisions.description }}</p>
<p>Director: {{ divisions.director }} </p>
{% if divisions.deputy %}
    <p>Deputy Director: {{ divisions..deputy }} </p>
{% endif %}
{% if divisions.support %}
<p>Support Staff: {{ divisions.support }} </p>
{% endif %}

<h2>Projects</h2>
    {% for p in projects %}
        <h3><a href="{% url 'project_detail' pk=p.pk %}">{{ p.name }}</a></h2>
        <p>{{ p.description|linebreaksbr }}</p>
        <p>Project Leader: {{ p.projectleader }}</p>
    {% endfor %}

{% endblock %}