<!-- templates/division.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>DFRM Divisions</h1>
    {% for d in divisions %}
        <h3><a href="{% url 'division_detail' pk=d.pk %}">{{ d.name }}</a></h3>
        <p>{{ d.description|linebreaksbr }}</p>
        <p>Director: {{ d.director }} </p>
        {% if d.deputy %}
            <p>Deputy Director: {{ d.deputy }} </p>
        {% endif %}
        {% if d.support %}
        <p>Support Staff: {{ d.support }} </p>
        {% endif %}
        <hr>
    {% endfor %}
{% endblock %}