<!-- templates/division.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Divisions</h1>

<hr>
    {% for d in divisions %}
    {% if forloop.counter|divisibleby:2 %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">   
                <img src="{{ d.division_image1.url }}">
            </div>
            <div class="col-md-5">
                <h3><a href="{% url 'division_detail' pk=d.pk %}">{{ d.name }}</a></h3>
                <p>{{ d.description|linebreaksbr }}</p>
                <p>Director: {{ d.director }} </p>
                {% if d.deputy %}
                    <p>Deputy Director: {{ d.deputy }} </p>
                {% endif %}
                {% if d.support %}
                <p>Support Staff: {{ d.support }} </p>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    {% else %}
    <div class='container'>
        <div class="row">
            <div class="col-md-5">
                <h3><a href="{% url 'division_detail' pk=d.pk %}">{{ d.name }}</a></h3>
                <p>{{ d.description|linebreaksbr }}</p>
                <p>Director: {{ d.director }} </p>
                {% if d.deputy %}
                    <p>Deputy Director: {{ d.deputy }} </p>
                {% endif %}
                {% if d.support %}
                <p>Support Staff: {{ d.support }} </p>
                {% endif %}
            </div>
            <div class="col-md-7">   
                <img src="{{ d.division_image1.url }}">
            </div>
        </div>
    </div>
    <hr>
    {% endif %}
    {% endfor %}

<!--     {% for d in divisions %}
    <div class="division-container">
    {% if forloop.counter|divisibleby:2 %}
        <div class="division-card-left">
            <h3><a href="{% url 'division_detail' pk=d.pk %}">{{ d.name }}</a></h3>
            <p>{{ d.description|linebreaksbr }}</p>
            <p>Director: {{ d.director }} </p>
            {% if d.deputy %}
                <p>Deputy Director: {{ d.deputy }} </p>
            {% endif %}
            {% if d.support %}
            <p>Support Staff: {{ d.support }} </p>
            <img scr="{{ d.division_image1.url }}">
            {% endif %}
        </div>
    {% else %}
        <div class="division-card-right">
            <h3><a href="{% url 'division_detail' pk=d.pk %}">{{ d.name }}</a></h3>
            <p>{{ d.description|linebreaksbr }}</p>
            <p>Director: {{ d.director }} </p>
            {% if d.deputy %}
                <p>Deputy Director: {{ d.deputy }} </p>
            {% endif %}
            {% if d.support %}
            <p>Support Staff: {{ d.support }} </p>
            {% endif %}
        </div>
    {% endif %}
    </div>
    {% endfor %} -->

{% endblock %}