<!-- templates/document_list.html -->
{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="edit-content">
	    {% if user.is_authenticated %}
	        <a href="{% url 'document_upload' %}" class="btn btn-secondary"><div class="button">Add New Document</div></a>
	    {% endif %}
	</div>

	<h2>Search Available Documents</h2>
    <form action="" method="get" class="form-inline">
        {{ filter.form.as_p}}
        <input type="submit" />
    </form>

	</br>

	<h2>Documents</h2>
	{% render_table table %}
	
<!--	<table>
		<tr>
			<th>Title</th>
			<th>Primary Author</th>
			<th>Secondary Authors</th>
			<th>Publish Date</th>
			<th>Type</th>
			<th>Keywords</th>
		</tr>
		{% for doc in object_list %}
		<tr>
			<td><a href="{{ doc.file.url }}">{{ doc.title }}</a></td>	
			<td>{{ doc.primary_author }}</td>
			<td>{{ doc.secondary_authors }}</td>
			<td>{{ doc.publish_date}}</td>
			<td>{{ doc.document_type}}</td>
			<td>{{ doc.keywords}}</td>
		</tr>
		{% endfor %}
	</table> -->
{% endblock %}