<!-- templates/home.html -->
{% extends "base.html" %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<!-- <div class="parallax"></div> -->
{% endblock custom_css %}

{% block content %}
<br><br><br><br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-2 d-flex justify-content-center my-auto">
      <img src="../static/img/NPT.png" width="150" height="150">
    </div>
    <div class="col-8 text-center">
    	<div class="home-title">
      <h1>Department of Fisheries Resources Management</h1>
    	</div>
    </div>
    <div class="col-2 d-flex justify-content-center my-auto">
      <img src="../static/img/DFRM.png" width="150" height="150">
    </div>
  </div>
</div>

{% comment %} <div class="home-container">
  <div>
    <h1>Debug Permissions</h1>
    <p> User is authenticated: {{ request.user.is_authenticated }} </p>

    <p> User is member of view documents: {{ perms.documents.view_document }} </p>  
    <p> User is member of add documents: {{ perms.documents.add_document }} </p>
    <p> User is member of change documents: {{ perms.documents.change_document }} </p>
    <p> User is member of delete documents: {{ perms.documents.delete_document }} </p>

    <p> User is member of view post: {{ perms.news.view_post }} </p>    
    <p> User is member of add post: {{ perms.news.add_post }} </p>
    <p> User is member of change post: {{ perms.news.change_post }} </p>
    <p> User is member of delete post: {{ perms.news.delete_post }} </p>

    <p> User is member of view division: {{ perms.dfrm_admin.view_division }} </p>  
    <p> User is member of add division: {{ perms.dfrm_admin.add_division }} </p>
    <p> User is member of change division: {{ perms.dfrm_admin.change_division }} </p>
    <p> User is member of delete division: {{ perms.dfrm_admin.delete_division }} </p>
  
    <p> User is member of view office: {{ perms.dfrm_admin.view_office }} </p>    
    <p> User is member of add office: {{ perms.dfrm_admin.add_office }} </p>
    <p> User is member of change office: {{ perms.dfrm_admin.change_office }} </p>
    <p> User is member of delete office: {{ perms.dfrm_admin.delete_office }} </p>

  </div>
</div> {% endcomment %}

<div class="home-container">
<blockquote class="blockquote">
<p class="mb-0">"We did not inherit this earth or its natural resources from our ancestors, we are only borrowing them from our children's children; therefore, we are duty bound and obligated to protect them and use them wisely until such time that they get here, and then they will have the same obligations."</p>
<br>
<footer class="blockquote-footer" style="color:#ABE7FC">Eugene Greene, Sr. <cite title="Source Title">CRITFC 1995</cite></footer>
</blockquote>
</div>
<!--<iframe style="border: none; width: 920px; height: 500px;" src="https://nptfisheries.shinyapps.io/PITtrackR/" width="300" height="150"></iframe> -->

{% comment %} <div class="home-container">
<h2 style="text-align: center;">Fishing Seasons and Current Harvest</h2>
</div> {% endcomment %}

<div class="home-container">
<h2>Recent News</h2>

<section class="related-posts">
	{% for p in post %}
		    <article class="blog-card blog-card--one-third ">
                <figure>
                    <a href="{% url 'news_detail' p.pk %}">
						<img src="{{ p.header_image.url }}">
                    </a>
                </figure>
          <div class="blog-card__content">
            <h3 class="blog-card__content-title">
                <a href="{% url 'news_detail' p.pk %}">
                	{{ p.title }}
                </a>
            </h3>
            <span style="color: black;">{{ p.snippet|safe }}</span>
            <div class="blog-card__meta">
                <a class="blog-card__blog-link">
                    {{ p.primary_author }}&nbsp;
                </a>
                <a href="{% url 'news_detail' p.pk %}" class="blog-card__read-time">
                    | {{ p.post_date }}
                </a>
            </div>       
        </div>
    </article>
	{% endfor %}
</section>
</div>

{% endblock %}
