<!-- templates/news_list.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="edit-content">
    {% if user.is_authenticated %}
        <a href="{% url 'news_post' %}" class="btn btn-secondary"><div class="button">Add New Post</div></a>
    {% endif %}
</div>
	<h1>Recent News</h1>
	<ul>
	{% for post in object_list %}
		<li><a href="{% url 'news_detail' post.pk %}">{{ post.title }}</a> - 
			{% if user.is_authenticated %}
				<small>
				<a href="{% url 'news_edit' pk=post.pk %}">(Edit)</a> 
				<a href="{% url 'news_delete' pk=post.pk %}">(Delete)</a>
				</small>
			{% endif %} <br/>

		{% if post.header_image %}
			<img src="{{ post.header_image.url }}"> <br/>
		{% endif %}
		
		{{ post.primary_author }} <br/>
		<small> Post Date: {{post.post_date}} </small> <br/>
		{{ post.secondary_authors }} <br/>
		<!--{{ post.body|slice:":200"|safe }} <br/>-->
		{{ post.snippet|safe }}
		{{ post.uploaded_by.first_name }} {{ post.uploaded_by.last_name }}</li>
	{% endfor %}
	</ul>
{% endblock %}