<!-- templates/project_detail.html -->
{% extends "base.html" %}
{% load static %}


{% block header %}
<div class="page-header">
    <div class="black-background">
        <div class="container">
            <h1>{{ project.division }}</h1>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="edit-content">
    {% if user.is_authenticated %}
        <a href="{% url 'project_edit' pk=project.pk %}" class="btn btn-secondary">Edit Project Content</a>
    {% endif %}
</div>
<h1>{{ project.name }}</h1>
<p>{{ project.description }}</p>
<p>Project Leader: {{ project.projectleader }}</p>
{% endblock %}