<!-- templates/locations/location_edit.html -->
{% extends "base.html" %}
{% load static %}

{% block header %}
<div class="page-header">
    <div class="black-background">
        <div class="container">
            <h1>Locations List</h1>
        </div>
    </div>
</div>
{% endblock header %}

<hr>
{% block content %}
    <div class="edit-content">
        {% if perms.locations.add_location %}
            <a href="{% url 'location_new' %}" class="btn btn-primary"><div class="button">Add New Location</div></a>
        {% endif %}
    </div>

    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Geometry Type</th>
            {% if perms.locations.change_location %}
                <th>Edit</th>
            {% endif %}
        </tr>
        {% for object in object_list %}
        <tr>
            <td>{{ object.name }}</td>
            <td> {{ object.geom_type }}</td>
            {% if perms.locations.change_location %}
            <td><a href="{% url 'location_edit' pk=object.pk %}" class="btn btn-primary">Edit</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}